@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:"微软雅黑";
	color:#333;
	}
.containter{
	 background:url(../image/1_04.png) left top repeat-x;
	
	}
.box{
	 width:1104px;
	 position:relative;
	 margin: 0 auto;
	}

.theme{
	 background:url(../image/heiniu3.jpg) no-repeat; 

	width:347px;
	height:150px;
	z-index:100;
	position:absolute;
	left:0;
	top:0;
}

.title{
	background:url(../image/title3.jpg) no-repeat;
	width:210px;
	height:67px;
	position: absolute;
	left: 510px;
	top:32px;
	}
.welcome{
	font-size: 14px;
	font-weight: bold;
	top: 15px;
	position: absolute;
	width: 1000px;
	left: 100px;
	}
.area{
	padding:80px 72px 0 72px;
	}
.left{
	float: left;
	width: 186px;
	height: 520px;
	background: #ebb85f;
	margin-left: 14px;
	margin-top:83px;
	padding-top:80px;
	}
.clear{
	clear:both;
	}
.left ul{
	padding:0;
	margin:0 auto;
	list-style:none;
	width:167px;
	}
.left ul li{
	height:39px;
	padding:5px;
	}
.left ul li a{
	display:block;
	background:url(../image/0_06.png) no-repeat;
	width:157px;
	height:39px;
	color:#442800;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	line-height:38px;
	text-decoration:none;
	}
.left ul li a:hover{
	background:url(../image/0_09.png) no-repeat;
	}
#click{
	background:url(../image/0.8.png) no-repeat;
	color:white;
	}
.right{
	margin-right:10px;
	width:740px;
	float:left;
    margin-left:10px;
	margin-top:67px;
	}
.right img{
	border:none;
	width:100%;
	height:100%;
	}
.jieshao{
	margin-top:10px;
	}
.jieshao p{
	text-indent:2em;
	line-height:1.5em;
	}
.gdimg{
	width:365px;
	height:300px;
	float:left;
	}
.caiping{
	width:240px;
	height:200px;
	float:left;
	}